# Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# Ignore any .tfvars files that are generated automatically for each Terraform run. Most
# .tfvars files are managed as part of configuration and so should be included in
# version control.
#
# example.tfvars

# Ignore override files as they are usually used to override resources locally and so
# are not checked in
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include override files you do wish to add to version control using negated pattern
#
# !example_override.tf

# Include tfplan files to ignore the plan output of command: terraform plan -out=tfplan
# example: *tfplan*
nash_sftp-server+docker.txt
nash-Script.txt
nashSkript.txt
access_log_formatedOrig.xlsx
access_logsOrig.xlsx
/lesson7/DevOps - 7 урок.pdf
dz.txt

dz na 02.03.2021.txt
/lesson7/DevOps-7 ypok.pdf
dz and server.txt
/lesson4/DevOps-4 урок.pdf
/lesson5/DevOps-5 ypok.pdf
/lesson6/DevOps-6 ypok.pdf
/lesson3/DevOps-3 урок.pdf
теорія_на_наступний_урок_потрібно_знати.docx
/lesson8/DevOps-8 ypok.pdf
/lesson2/DevOps-2 урок.pdf
/lesson9/DevOps-9 ypok.pdf

/lesson1/DevOps-1 урок.pdf

.idea
.vscode
.vagrant
vagrant
Vagrantfile
